// Light theme by default
:root {
  --background-color: #{$background-color-light}; // body
  --background-color1: #{$background-color1-light}; // blockquote, code block, border, table, hr
  --foreground-color: #{$foreground-color-light}; // text
  --foreground-color3: #{$foreground-color3-light}; // figcaption
  --accent-color: #{$accent-color-light}; // link, blockquote
}

// Override variables for dark theme
//@media (prefers-color-scheme: dark) {
//  :root {
//    --background-color: #{$background-color-dark};
//    --background-color1: #{$background-color1-dark};
//    --foreground-color: #{$foreground-color-dark};
//    --foreground-color3: #{$foreground-color3-dark}; // figcaption
//    --accent-color: #{$accent-color-dark};
//  }
//}

// Set color
.body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  opacity: 0.8;
}

.header {
  padding-bottom: 1rem;
}

.footer {
  border-top: 3px double var(--background-color1);
  padding-top: 1rem;
  font-style: italic;
  text-align: center;
}

blockquote {
  background-color: var(--background-color1);
  border-left: 4px solid var(--accent-color);
  font-style: italic;
  padding: 1rem;
}

// Don't apply inline code's style to code block
:not(pre)>code {
  background-color: var(--background-color1);
}

hr {
  background: var(--background-color1);
}

// Table
table {
  background-color: var(--background-color1);
}

td,
th {
  border: 1px solid var(--background-color);
}

// Figure
figcaption {
  color: var(--foreground-color3);
}
